
@{
    ViewBag.Title = "Completedjob";
    int salary = (int)ViewBag.no;
    Layout = null;
}

<div class="col-md-3">
    <div class="info-box">
        <span class="info-box-icon bg-aqua"><i class="fa fa-envelope-o"></i></span>

        <div class="info-box-content">
            <span class="info-box-text">Total Completed Job</span>
            <a href="/Admin/CompletedJob"><h1> <span>@salary</span></h1></a>

        </div>

    </div>
</div>