@model IEnumerable<CoolCat.PhotoGrapherLancer.Core.Entities.PublicProfilePhotoGrapher.ClientComplain>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_AdminPage.cshtml";
}
<section class="content-header">
    <section class="container">

    @{Html.RenderAction("HomeNumberofClientregistered");}
    @{Html.RenderAction("HomeNumberofphotographerregistered");}
    @{Html.RenderAction("HomeNumberofadminregistered");}
    @{Html.RenderAction("HomeNumberofwarn");}
    @{Html.RenderAction("HomeNumberofBlock");}
    @{Html.RenderAction("HomeNumberofComplains");}
    @{Html.RenderAction("HomeNumberofpostedjob");}
    @{Html.RenderAction("HomeNumberofCompletedJob");}
    @{Html.RenderAction("Homelatestclient");}
    @{Html.RenderAction("homeLatestPhotographer");}
    @{Html.RenderAction("HomeLatestpostedjob");}
    @{Html.RenderAction("HomeLatestCompletedJob");}
    @{Html.RenderAction("HomeTopRatedphotographer");}


</section>
</section>










